@import "tailwindcss";

@theme {
  --color-background: #EDEDF3;
  --color-surface: #ffffff;
  --color-border: #525C6D;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background;
  }
}
